/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo o fundo e a fonte padrão */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc; /* Cor de fundo suave */
    color: #333; /* Cor de texto escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante altura mínima para não perder conteúdo */
    padding: 20px; /* Adiciona um espaçamento para evitar cortes */
    overflow-y: auto; /* Permite rolagem caso necessário */
}

.error-message {
    display: block;
    margin-top: 4px;
    color: red;
    font-size: 12px;
}

.form-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 600px;
    margin: auto; /* Centraliza o formulário */
    max-height: 90vh; /* Impede que o formulário fique maior que a tela */
    overflow-y: auto; /* Permite rolagem dentro do formulário caso necessário */
}

h2 {
    font-size: 2em;
    color: #006d77; /* Cor azul escura */
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #444;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
    min-height: 80px;
}

input[type="date"] {
    padding: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

button {
    flex: 1; /* Faz os botões ocuparem o mesmo espaço */
    padding: 12px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 120px; /* Evita botões muito pequenos em telas pequenas */
}

.btnSalvar {
    background-color: #3498db; /* Azul claro */
    color: white;
}

.btnSalvar:hover {
    background-color: #0077b6; /* Azul escuro */
}

.btnCancelar {
    background-color: #f1f1f1; /* Cor de fundo neutra */
    color: #333;
}

.btnCancelar:hover {
    background-color: #e0e0e0; /* Cor de fundo neutra mais escura */
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    .form-container {
        width: 95%; /* Mantém o formulário responsivo sem perder conteúdo */
        padding: 20px;
        max-height: 80vh; /* Impede que fique muito grande em telas menores */
    }

    h2 {
        font-size: 1.6em;
    }

    .buttons {
        flex-direction: column;
    }

    button {
        width: 100%; /* Faz os botões ocuparem a largura total */
        font-size: 1em;
    }
}

h3 {
    color: #0056b3; /* Azul escuro */
}
