/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #f4f7fc;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #006d77;
    margin-bottom: 10px;
}

#form-title {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-login {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.btn-login:hover {
    background-color: #2980b9;
}

button:focus {
    outline: none;
}

@media (max-width: 500px) {
    .login-container {
        padding: 30px;
    }

    h1 {
        font-size: 22px;
    }
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.error-list {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    list-style-type: none; /* Remove os marcadores padrão */
    padding-left: 10px;
}

.error-list li::before {
    content: "✖ "; /* Adiciona um "X" antes de cada erro */
    font-weight: bold;
    color: red;
}

